* {
  box-sizing: border-box;
}

body {
	width: 960px;

}

header {
	background-color: #ffffff;
	border: 2px solid #cccccc;
	font-family: "Georgia", Times, "Times New Roman", serif;
	clear: right;
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
	position: fixed;
    width: 100%;
    height: 90px;
    text-align: center;
    border-bottom: solid;
   

	

}

#name {
	color: white;
	background-color: #4aaaa5;
	width: 248px;
	padding: 20px;
	margin-left: 156px;
	/*position: absolute;
    top: 0;
    left: 5%;
    color: #fff;
    background-color: #4aaaa5;
    float: left;
    max-width: 30%;
    height: 100%;
    padding: 35px;*/

}
.links {
	color: #777777;
	float: right;
	position: absolute
    top: 0;
    /*right: 2%;
    color: #777777;
    float: right;
    max-width: 30%;
    height: 100%;
    padding: 35px;
    overflow: auto;*/

}

#left {
	float: left;

}
#middle {
	float: left;


}
#right {
	float: right;

}

}

.container {
	border-color: #dddddd;
	width: 650px;
	background: url("asanoha-400px.png") no-repeat center center fixed;

}


#about-me {
	color: #777777;
	background color: white;
	width: 40%;
	margin-left: 50px;

}
h2 {
	float: left;
}

#body {
	width: 100%;
}

#port-id {
	float: left;
	margin-right: 20px;

}

p{

}

footer {
	background-color: #666666;
	clear: both;
	overflow: auto;
}
