* {
	box-sizing: border-box;
	

}

.header {
	position: absolute;
	background-color: #4aaaa5;
	margin-left: 150px;
	text-align: center;
	width: 250px;
	height: 88px;
	top: 0;
	font-family: "Georgia", Times, "Times New Roman", serif;
	z-index:1;
}
h1 {
	color: white;
}

a:link {
	text-decoration: none;
	color: silver;
}
a:visited {
	text-decoration: none;
	color: silver;
	
}

#wrapped {
	margin-right: 0;
    margin-left: 0;
    width: 1356px;
    top: 0px;
    position: relative;
    height: 80px;
    background-color: white;

}
#navigation {
	float:right;
   position: absolute;
   right:330px;
   top:30px;
   width:176px;
   height:29px
   margin-left:0;
   margin-right:0;
   color: silver;
   font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
text-decoration: none;

}

#navigation ul {
	margin: 0;
	padding:0;
	float:right;
	position:fixed;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
}

#navigation li:not(:first-child):before {
    content: " | ";
}

#container {
	position: relative;
	top: 0;
	border-top: 4px solid #e1e1e1;
	background: url("../asanoha-400px/asanoha-400px.png");
	height: 688px;
	clear: bottom;
	width: 1356px;
	z-index:-1;

	
}

#wrapper {
	position: absolute;

	/*margin-left: 156px;*/
	border: 2px solid #e1e1e1;
	background-color: white;
	padding: 20px;
	height: 813px;
	top: 129px;
	left: 150px;
	width: 650px;

}

#about-me{
	position: absolute;
	color: #56b2bc;
	font-size: 22px;
	top: -4px;
	left: 37px;
	

}

#body {
	position: absolute;
	width: 560px;
	height: 400px;
	clear: right;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 20px;
	color: #96979b;
	border-top:4px solid #e1e1e1;
	top: 65px;
	left: 42px;
	padding-top: 30px;
	
}

.Connect {
	position: absolute;
	width: 270px;
	right: 202px;
	text-align: center;
    top: 37px;
    border: 2px solid #e1e1e1;
    height: 173px;
    background: white;



}

#h3 {
	color: #56b2bc;
	font-size: 20px;

}



#linkedin {
	float:left;
	position:absolute;
	left:9px;
	top:11px;

}

#github {
	float:left;
	position:absolute;
	right: 68px;
	top:8px;

}

#stack {
	float:left;
	position:absolute;
	right:1px;
	top:11px;
}

footer {
	position: absolute;
    bottom: 44px;
    left: 40%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #aeb0aa;
}

#footer {
	position: relative;
    bottom: -81px;
    background-color: #666666;
    border-top: 6px solid #56b2bc;
    height: 109px;
    width: 1356px;
}

#social {
	border-top: 2px solid #e1e1e1;
	height: 73px;
	width: 212px;
	position: absolute;
	right:32px;
	bottom: 33px;
}

#wrapper {
	position: absolute;

	/*margin-left: 156px;*/
	border: 2px solid #e1e1e1;
	background-color: white;
	padding: 20px;
	top: 47px;
    left: 150px;
    width: 650px;
    height: 588px;
}

footer {
	position: absolute;
    bottom: 44px;
    left: 40%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #aeb0aa;
}

#footer {
	position: relative;
    bottom: -678px;
    background-color: #666666;
    border-top: 6px solid #56b2bc;
    height: 109px;
    width: 1356px;
}

input[type=submit] {
	text-decoration: none;
	background-color: #4aaaa5;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}